# MultiMc

# Minecraft
/minecraft/usernamecache.json
/minecraft/options.txt
/minecraft/texturepacks
/minecraft/screenshots
/minecraft/scripts
/minecraft/saves
/minecraft/resourcepacks
/minecraft/logs
/minecraft/crash-reports
/minecraft/compendiumunlocks
/minecraft/blueprints