# MultiMc
# Minecraft
/minecraft/usernamecache.json
/minecraft/options.txt
/minecraft/texturepacks
/minecraft/screenshots
/minecraft/saves
/minecraft/resourcepacks
/minecraft/logs
/minecraft/crash-reports
/minecraft/compendiumunlocks
/minecraft/blueprints
/minecraft/config/YAMPST.nbt
instance.cfg
minecraft/liteconfig/liteloader.properties
minecraft/liteconfig/common/liteloader.keys.properties
minecraft/config/splash.properties
minecraft/config/InvTweaks.cfg
minecraft/config/NEI/client.cfg
minecraft/config/splash.properties
minecraft/liteconfig/liteloader.properties
minecraft/liteconfig/common/liteloader.keys.properties
minecraft/TCNodeTracker
minecraft/TIWorldData
minecraft/mods/VoxelMods/voxelMap/